In [4]:
import os
import pandas as pd
%pip install psycopg2-binary
import psycopg2

Requirement already satisfied: psycopg2-binary in /usr/local/python/3.10.8/lib/python3.10/site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
data = pd.read_csv(os.path.join("powerball.csv"))
data.head()

,Draw number,Draw date,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Winning Number 7,Powerball Number,...,Division 7 prize pool,Division 7 amount,Division 8 winners,Division 8 winners in WA,Division 8 prize pool,Division 8 amount,Division 9 winners,Division 9 winners in WA,Division 9 prize pool,Division 9 amount
0,1424,31/08/2023,10,35,27,32,6,14.0,31.0,6,...,3010512.75,48.35,303990.0,40281.0,6383790.00,21.00,895561.0,117283.0,10970622.25,12.25
1,1423,24/08/2023,8,17,18,20,11,3.0,33.0,7,...,2167172.90,42.05,245571.0,31934.0,4604456.25,18.75,695597.0,91812.0,7895025.95,11.35
2,1422,17/08/2023,24,12,30,26,10,17.0,21.0,10,...,1554120.00,45.00,166839.0,21168.0,3303412.20,19.80,473993.0,60398.0,5664216.35,11.95
3,1421,10/08/2023,11,24,9,23,18,16.0,10.0,9,...,1042186.70,45.05,116212.0,14644.0,2213838.60,19.05,331747.0,41531.0,3798503.15,11.45
4,1420,03/08/2023,13,7,18,1,23,25.0,33.0,7,...,7901307.50,43.10,879573.0,115103.0,16799844.30,19.10,2493416.0,326932.0,28798954.80,11.55

In [6]:
# Connect to postgres DB
conn = psycopg2.connect("dbname=test user = postgres")

# Open the cursor to perform DB ops
cur = conn.cursor()

# Execute Query
cur.execute("SELECT * FROM my_data")

# Retrieve query results
records = cur.fetchall()

OperationalError: connection to server on socket "/var/run/postgresql/.s.PGSQL.5432" failed: No such file or directory
	Is the server running locally and accepting connections on that socket?